footer.footer
	.container
		.footer__wrapper
			.footer__logo
				a.footer__logo__link(href="#")
					+svg-logo
					span.footer__logo__name ваш логотип
			a.footer__politika(href="#") Политика конфиденциальности
			.footer__dev
				a.footer__link(href="#", target="_blank") Разработано в Brandley


				