header.header
	.container
		.header__wrapper
			.header__logo
				a.header__logo__link(href="#")
					+svg-logo
					span.header__logo__name ваш логотип
			.header__menu
				include menu
			a.header__call.header__call--desktop(href="tel:+79999999999") +7(999) 999-99-99
			a.header__call.header__call--mobile(href="tel:+79999999999")
				img.header__call__img(src="/images/phone.svg")