doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport" content="width=device-width initial-scale=1")
		link(rel="shortcut icon" type="image/x-icon" href="images/favicon.ico")
		link(rel="stylesheet" href="css/main.min.css")
		title Заголовок
	body
		include sections/mixins.pug
		include sections/popup.pug
		.block__blur
			include sections/header.pug
			include sections/banner.pug
			include sections/plus.pug
			include sections/offer.pug
			include sections/services.pug
			include sections/product.pug
			include sections/slider.pug
			include sections/map.pug
			include sections/footer.pug
		script(src="//api-maps.yandex.ru/2.0/?load=package.standard&lang=ru-RU", type="text/javascript")
		script(src="js/main.min.js")


