.product{
	background-color: #f3f3f3;
	padding: 60px 0px;

	&__title{
		text-align: center;
		font-size: 30px;
		font-weight: bold;
		font-family: $ff-main;
	}

	&__desc{
		text-align: center;
		margin-bottom: 60px;
		font-family: $ff-main;
	}
}